Cobranzas/Service References/SOperador/ServicioOperador2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiciosCobranzas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiciosCobranzas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfrptLoginsResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="rptLoginsResult" nillable="true" type="tns:rptLoginsResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfrptLoginsResult" nillable="true" type="tns:ArrayOfrptLoginsResult" />
  <xs:complexType name="rptLoginsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fin" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Inicio" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Operador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idOperador" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="rptLoginsResult" nillable="true" type="tns:rptLoginsResult" />
</xs:schema>