Cobranzas/Service References/SOperador/ServicioOperador.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8990/Servicios/ServicioOperador.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiciosCobranzas.Entidades" />
  <xs:import schemaLocation="http://localhost:8990/Servicios/ServicioOperador.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8990/Servicios/ServicioOperador.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ServiciosCobranzas" />
  <xs:element name="Operadores_lst">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Operadores_lstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiciosCobranzas.Entidades" minOccurs="0" name="Operadores_lstResult" nillable="true" type="q1:ArrayOfclsOperadoresSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Operadores_Suplantar_lst">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idOperador" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Operadores_Suplantar_lstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiciosCobranzas.Entidades" minOccurs="0" name="Operadores_Suplantar_lstResult" nillable="true" type="q2:ArrayOfclsSuplentes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Operadores_Suplantarme_lst">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idOperador" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Operadores_Suplantarme_lstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiciosCobranzas.Entidades" minOccurs="0" name="Operadores_Suplantarme_lstResult" nillable="true" type="q3:ArrayOfclsSuplentes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Operadores_sel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idOperador" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Operadores_selResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiciosCobranzas.Entidades" minOccurs="0" name="Operadores_selResult" nillable="true" type="q4:clsOperadores" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Operadores_del">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idOperador" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Operadores_delResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Operadores_delResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Operadores_sav">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServiciosCobranzas.Entidades" minOccurs="0" name="Operador" nillable="true" type="q5:clsOperadores" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Operadores_savResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Operadores_savResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Operador_Metas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idOperador" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Operador_MetasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServiciosCobranzas.Entidades" minOccurs="0" name="Operador_MetasResult" nillable="true" type="q6:ArrayOfclsMetasOperador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DistribucionOperadores_Ejecutar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idDistribucion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DistribucionOperadores_EjecutarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DistribucionOperadores_EjecutarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Operadores_Asignaciones_lst">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idOperador" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Operadores_Asignaciones_lstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ServiciosCobranzas.Entidades" minOccurs="0" name="Operadores_Asignaciones_lstResult" nillable="true" type="q7:ArrayOfclsOperadoresAsignaciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Operadores_Persona_lst">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPersona" type="xs:int" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Operadores" nillable="true" type="q8:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Operadores_Persona_lstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ServiciosCobranzas.Entidades" minOccurs="0" name="Operadores_Persona_lstResult" nillable="true" type="q9:ArrayOfclsOperadoresSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Nombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idOperador" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NombreResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logins_rpt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FechaDesde" type="xs:dateTime" />
        <xs:element minOccurs="0" name="FechaHasta" type="xs:dateTime" />
        <xs:element minOccurs="0" name="idOperador" type="xs:int" />
        <xs:element minOccurs="0" name="Supervisados" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logins_rptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ServiciosCobranzas" minOccurs="0" name="Logins_rptResult" nillable="true" type="q10:ArrayOfrptLoginsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Salir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idOperador" type="xs:int" />
        <xs:element minOccurs="0" name="Impersonando" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SalirResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Compromisos_rpt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idOperador" type="xs:int" />
        <xs:element minOccurs="0" name="FechaDesde" type="xs:dateTime" />
        <xs:element minOccurs="0" name="FechaHasta" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Supervisado" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Compromisos_rptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ServiciosCobranzas.Entidades" minOccurs="0" name="Compromisos_rptResult" nillable="true" type="q11:ArrayOfclsCompromisosRpt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarOperadoresSUpervisor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idOperador" type="xs:int" />
        <xs:element minOccurs="0" name="fecha1" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fecha2" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarOperadoresSUpervisorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ServiciosCobranzas.Entidades" minOccurs="0" name="ListarOperadoresSUpervisorResult" nillable="true" type="q12:ArrayOfclsOperadoresSupervisor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>