Cobranzas/Service References/ranking/ServicioRanking.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioRanking" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://veccsvs270.bremat.local:8990/Servicios/ServicioRanking.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://veccsvs270.bremat.local:8990/Servicios/ServicioRanking.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://veccsvs270.bremat.local:8990/Servicios/ServicioRanking.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiciosCobranzas.Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioRanking_Ranking_lst_InputMessage">
    <wsdl:part name="parameters" element="tns:Ranking_lst" />
  </wsdl:message>
  <wsdl:message name="IServicioRanking_Ranking_lst_OutputMessage">
    <wsdl:part name="parameters" element="tns:Ranking_lstResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioRanking_Ranking_Operador_lst_InputMessage">
    <wsdl:part name="parameters" element="tns:Ranking_Operador_lst" />
  </wsdl:message>
  <wsdl:message name="IServicioRanking_Ranking_Operador_lst_OutputMessage">
    <wsdl:part name="parameters" element="tns:Ranking_Operador_lstResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioRanking">
    <wsdl:operation name="Ranking_lst">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioRanking/Ranking_lst" message="tns:IServicioRanking_Ranking_lst_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioRanking/Ranking_lstResponse" message="tns:IServicioRanking_Ranking_lst_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ranking_Operador_lst">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioRanking/Ranking_Operador_lst" message="tns:IServicioRanking_Ranking_Operador_lst_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioRanking/Ranking_Operador_lstResponse" message="tns:IServicioRanking_Ranking_Operador_lst_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioRanking" type="tns:IServicioRanking">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ranking_lst">
      <soap:operation soapAction="http://tempuri.org/IServicioRanking/Ranking_lst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ranking_Operador_lst">
      <soap:operation soapAction="http://tempuri.org/IServicioRanking/Ranking_Operador_lst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioRanking">
    <wsdl:port name="BasicHttpBinding_IServicioRanking" binding="tns:BasicHttpBinding_IServicioRanking">
      <soap:address location="http://veccsvs270.bremat.local:8990/Servicios/ServicioRanking.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>