Cobranzas/Service References/ranking/ServicioRanking1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiciosCobranzas.Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiciosCobranzas.Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfclsMetasOperador">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsMetasOperador" nillable="true" type="tns:clsMetasOperador" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsMetasOperador" nillable="true" type="tns:ArrayOfclsMetasOperador" />
  <xs:complexType name="clsMetasOperador">
    <xs:sequence>
      <xs:element minOccurs="0" name="Facturas" type="xs:int" />
      <xs:element minOccurs="0" name="FacturasCobradas" type="xs:int" />
      <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Meta" type="xs:decimal" />
      <xs:element minOccurs="0" name="MetaFija" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Operador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Porc" type="xs:decimal" />
      <xs:element minOccurs="0" name="PorcMetaFija" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Real" type="xs:decimal" />
      <xs:element minOccurs="0" name="idMeta" type="xs:int" />
      <xs:element minOccurs="0" name="idOperador" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsMetasOperador" nillable="true" type="tns:clsMetasOperador" />
</xs:schema>